<div class="container mt-4">
    <h3>注文履歴詳細</h3>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <tr>
            <th>購入者</th>
            <td><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>〒<%= @order.postal_code %>  <%= @order.address %><br><%= @order.name %></td>
          </tr>

          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %> </td>
          </tr>

          <tr>
            <th>ステータス</th>
              <%= form_with model: @order, url: admin_order_path(@order), local:true do |f| %>
            <td><%= f.collection_select :status, Order.statuses.keys.map { |status| [I18n.t("enums.order.status.#{status}"), status] }, :last, :first, {}, { class: 'form-control' } %></td>
            <th><%= f.submit "更新", class: "btn btn-success btn-sm" %></th>
            
              <% end %>
          </tr>
        </tbody>
      </table>


      <%# 注文商品一覧 %>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% total_subtotal = 0 %>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= order_detail.item.name %>
            </td>

            <%# 税込価格 %>
            <td><%= order_detail.item.add_tax_price %></td>
            <%# 商品の個数 %>
            <td><%= order_detail.amount %></td>
            <%# 税込価格×個数 %>
            <td><%= order_detail.subtotal %></td>
            <%# 合計計算 %>
            <% total_subtotal += order_detail.subtotal %>
            <td>
              <%= form_with model: order_detail, url: admin_order_detail_path(@order_detail), local: true do |f| %>
                <%= f.collection_select :making_status, OrderDetail.making_statuses.keys.map { |making_status| [I18n.t("enums.order_detail.making_status.#{making_status}"), making_status] }, :last, :first, {}, { class: 'form-control' } %>
                <%= f.submit "更新", class: "btn btn-success btn-sm" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>