<div class="container my-4">
  <%= render 'layouts/errors', obj: @genre %>
  <div class="row mt-3 mb-2 offset-1 text-center">
    <h2>ジャンル編集</h2>
  </div>
  <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
    <div class="form-row align-items-center">
      <div class="col-md-3 text-md-right mx-auto">
        <%= f.label :name, "ジャンル名" %>
      </div>
      <div class="col-md-4 mx-auto">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-2 mx-auto">
        <%= f.submit "変更を保存", class: "btn btn-success"%>
      </div>
    </div>
  <% end %>
</div>