<%= form_with model: @order, local:true do |f| %>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>

      <div style="font-size: 10px;">注文情報確認</div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>商品名</th>
            <th></th>
            <th>単価</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>
           合計計算 
          <% total_subtotal = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
             商品画像 
            <td><%= image_tag cart_item.item.get_image %></td>

            <%# 商品名 %>
            <td><%= cart_item.item.name %></td>

            <%# 税込価格 %>
            <td><%= cart_item.item.add_tax_price %></td>

            <%# 商品の個数 %>
            <td><%= cart_item.amount %></td>

            <%# 税込価格×個数 %>
            <td><%= cart_item.subtotal %></td>
            <%# 合計計算 %>
            <% total_subtotal += cart_item.subtotal %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-md-3'>
      <table class='table'>
        <tr>
      	  <th>送料</th>
      	  <th><%= @order.shipping_cost %></th>
        </tr>

        <tr>
      	  <th>商品合計</th>
      	  <th><%= total_subtotal %></th>
        </tr>

        <tr>
      	  <th>請求金額</th>
      	  <th><%= total_subtotal+@order.shipping_cost %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class = row >
    <table class= table>
      <tr>
        <th style="font-size: 12px;">支払い方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th style="font-size: 12px;">お届け先</th>
        <td><%= "#{@order.postal_code}, #{@order.address}" %><br><%= @order.name %></td>

      </tr>
    </table>
  </div>
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= f.submit value="注文を確定する", class: "btn btn-success btn-sm " %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>