  <div class="container mt-4">
    <h1>ログイン</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">
            <h5 class="mb-3">会員の方はこちらからログイン</h5>
              <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
                <div class="field mb-3">
                  <label for="email">メールアドレス</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email" %>
                </div>

                <div class="field mb-3">
                  <label for="password">パスワード</label>
                  <%= f.password_field :password, autocomplete: "current-password", id: "password" %>
                </div>

                <div class="actions">
                  <%= f.submit "ログイン", class: "btn btn-info" %>
                </div>
              <% end %>
              <%= render "admin/shared/links" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header text-center">
        <h5>会員登録がお済みでない方</h5>
        <p><%= render "public/shared/links" %> から新規登録を行ってください</p>
          </div>
        </div>
      </div>
    </div>
  </div>

