<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <p>ジャンル検索</p>
      <%= render 'search' %>
    </div>
    <h2>商品一覧</h2>
    <div class='d-flex flex-wrap'>
      <% @items.each do |item| %>
      <div class='col-md-3'>
        <div class='card'>
          <%= link_to item_path(item) do %>
            <%= image_tag item.get_image, size: "250x200" %>
          <% end %>
          商品名<%= item.name %><br>
          ￥<%= item.add_tax_price.to_s(:delimited) %>
        </div>
      </div>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>