<div class="container-fluid">
  <div class='offset-md-1 mt-4'>
    <div class='d-flex flex-row'>
      <div class='col-md-2 text-center p-2'>
        <div>
          <%= image_tag "nagano_cake.png", class: "card-img-top img-fluid mb-5", style: "transform: scale(1.3);" %>
        </div>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>ジャンル検索</th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr>
                <td><%= genre.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="offset-md-1 col">
        <div class="d-flex flex-row card item-show">
          <div class='flex-fill image-container'>
            <%= image_tag @item.get_image(4000,4000) %>
          </div>
          <div class='offset-md-1 col-md-5 flex-fill card-body'>
            <h1 class="p-2" style="width: 370px; height: 100px;"><%= @item.name %></h1>
            <h3 class="p-2 d-inline-block" style="width: 370px; height: 174px;"><%= @item.introduction %></h3>
            <div class="d-flex pb-1">
              <h3>￥<%= @item.add_tax_price.to_s(:delimited) %></h3><p class="p-2">(税込)</p>
            </div>
            <div class="d-flex">
            <% if @item.is_active == true %>
              <%= form_with model: @cart_item,url: cart_items_path, method: :post,local: true do |f| %>
                <a class="p-2 pr-5">
                  <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], {prompt: "個数選択"} %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                </a>
                <%= f.submit "カートに入れる", class: 'btn btn-lg btn-success' %>
              <% end %>
            <% else %>
              <h4 class="text-danger p-1 pl-5">販売停止中</h4>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
